body {
  background-color: #FFFFFF;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
h1{
  text-align: center;
  color: #FFFFFF;
  font-size: 50px;
  font-weight:bolder;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
    background-color: #DB8A74;
  padding: 10px;
}
ul.header li a {
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}


ul.footer {
    background-color: #DB8A74;
  padding: 5px;
}

ul.pretty li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.pretty {
    background-color: #FFFFFF;
  padding: 10px;
}
ul.pretty li a {
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: #444242;
}
.content {
  background-color: #FFFFFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
  color: #DB8A74;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

th {
  font-family: sans-serif;
  background-color: #fccccc; 
  border: none;
  color: #DB8A74;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 0px;
  border-radius: 12px;
  width: 50%;
}

.button {
  font-family: sans-serif;
  background-color: #FFFFFF; 
  border: none;
  color: #0000;
  padding: 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 0px;
  border-radius: 12px;
  width: 100%;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
}

p {
  color: #DB8A74;

}

table {
  width: 100%;
  border-spacing: 5px;
}

h3, h4 {
  color: #FFFFFF;
}


/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}